<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="devExpress">
			<section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="aspnet:RestrictXmlControls" value="true"/>
		<add key="FeedCacheTime" value="300"/>
		<add key="FeedPageUrl" value="/15/feed.aspx?"/>
		<add key="FeedXsl1" value="/Style Library/Xsl Style Sheets/Rss.xsl"/>
		<add key="ReportViewerMessages" value="Microsoft.SharePoint.Portal.Analytics.UI.ReportViewerMessages, Microsoft.SharePoint.Portal, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"/>
		<add key="aspnet:AllowAnonymousImpersonation" value="true"/>
		<add key="ShowBanner" value="1"/>
		<add key="BannerMinutes" value="1"/>
		<add key="MAP_CENTER" value="38.259462251148015, 23.32122802734375"/>
		<add key="MAP_ZOOM" value="8"/>
		<add key="ROW_HEIGHT_0" value="1"/>
		<add key="ROW_HEIGHT_1" value="20"/>
		<add key="LEIPrice1" value="AND SalesPrice!150000"/>
		<add key="LEIPrice2" value="AND (SalesPrice!120000 AND SalesPrice#150000)"/>
		<add key="LEIPrice3" value="AND (SalesPrice!100000 AND SalesPrice#120000)"/>
		<add key="LEIPrice4" value="AND (SalesPrice!80000 AND SalesPrice#100000)"/>
		<add key="LEIPrice5" value="AND (SalesPrice!60000 AND SalesPrice#80000)"/>
		<add key="LEIPrice6" value="AND (SalesPrice!40000 AND SalesPrice#60000)"/>
		<add key="LEIPrice7" value="AND (SalesPrice!30000 AND SalesPrice#40000)"/>
		<add key="LEIPrice8" value="AND (SalesPrice!20000 AND SalesPrice#30000)"/>
		<add key="LEIPrice9" value="AND (SalesPrice!15000 AND SalesPrice#20000)"/>
		<add key="LEIPrice10" value="AND (SalesPrice!10000 AND SalesPrice#15000)"/>
		<add key="LEIPrice11" value="AND (SalesPrice!5000 AND SalesPrice#10000)"/>
		<add key="LEIPrice12" value="AND SalesPrice#5000"/>
		<add key="MainProdCat" value="60"/>
		<!--Products Used Images-->
		<add key="ProductUsed_ImageW_Large" value="640"/>
		<add key="ProductUsed_ImageH_Large" value="480"/>
		<add key="ProductUsed_ImageW_Small" value="160"/>
		<add key="ProductUsed_ImageH_Small" value="120"/>
		<!--Products Images-->
		<add key="Product_ImageW_Large" value="640"/>
		<add key="Product_ImageH_Large" value="480"/>
		<add key="Product_ImageW_Medium" value="200"/>
		<add key="Product_ImageH_Medium" value="150"/>
		<add key="Product_ImageW_Small" value="160"/>
		<add key="Product_ImageH_Small" value="120"/>
		 <add key="GreenEnergyURL" value="http://10.1.1.9" />
    <add key="proxyServerUrl" value="http://10.1.1.202:8080" />
    <add key="proxyDomain" value="AGROTECH" />
    <add key="proxyUsername" value="agrort" />
    <add key="proxyPassword" value="Agr0!23$" />
    <add key="PostURL" value="http://b2b.agrotechniki.gr" />
    <add key="PostURLJohnDeere" value="http://parts.agrogroup.gr" />
    <add key="adPath" value="LDAP://agrotechniki.intra/DC=agrotechniki,DC=intra" />
    <add key="DomainName" value="AGROTECH" />
    <add key="SiteName" value="http://www.agrotechniki.gr" />
    <add key="SiteNameGR" value="http://www.agrotechniki.gr" />
    <add key="SiteNameEN" value="http://www.agrotechniki.gr/sites/EN" />
    <add key="Company00" value="00" />
    <add key="Company01" value="01" />
		<add key="WebPartsUrl" value="Shared%20Documents"/>
    <add key="Email.Smtp" value="10.1.1.204" />
    <add key="Email.Port" value="25" />
    <add key="Email.From" value="scans@agrotechniki.intra" />
    <add key="Email.To" value="info@agrotechniki.gr" />
    <add key="Email.BCC" value="info@agrotechniki.gr" />
		<!-- Green Energy Project -->
		<add key="GEPCategory1" value="1"/>
		<add key="GEPCategory2" value="2"/>
		<add key="aspnet:UseStrictParserRegex" value="true"/>
	</appSettings>
	<connectionStrings>
	<!--	<add name="exact_clRO" connectionString="Provider=SQLOLEDB;Password=p3%dLK99##98%Sj23W1k;Persist Security Info=True;User ID=exact_clRO;Initial Catalog=DEVAGRO;Data Source=LOGISTIRIO-6B"/>
	 	<add name="exact_clRW" connectionString="Provider=SQLOLEDB;Password=wrAgr$dfs%8899fs#;Persist Security Info=True;User ID=exact_clRW;Initial Catalog=DEVAGRO;Data Source=LOGISTIRIO-6B"/>  -->
    <add name="exact_clRW" connectionString="Provider=SQLOLEDB;Password=wrAgr$dfs%8899fs#;Persist Security Info=True;User ID=exact_clRW;Initial Catalog=agrotechniki;Data Source=WHITE" />
    <add name="exact_clRO" connectionString="Provider=SQLOLEDB;Password=p3%dLK99##98%Sj23W1k;Persist Security Info=True;User ID=exact_clRO;Initial Catalog=agrotechniki;Data Source=WHITE" />	

   	    <add name="connRO" connectionString="Data Source=logistirio-6b;Initial Catalog=DEVAGRO;uid=johndeere_clRO;pwd=Omi8eCdeIFl#peRfeDCr;"/>
		<add name="connRW" connectionString="Data Source=logistirio-6b;Initial Catalog=DEVAGRO;uid=johndeere_clRW;pwd=sOc4rOReveM#dEubeZAq;"/>
		<add name="connAgroRO" connectionString="Data Source=logistirio-6b;Initial Catalog=DEVAGRO;uid=exact_clRO;pwd=p3%dLK99##98%Sj23W1k;"/>
		<add name="connAgroRW" connectionString="Data Source=logistirio-6b;Initial Catalog=DEVAGRO;uid=exact_clRW;pwd=wrAgr$dfs%8899fs#;"/>
		<!-- <add name="devagroCn" connectionString="Data Source=logistirio-6b;Initial Catalog=devagro;User ID=exact_clRW;Password=wrAgr$dfs%8899fs#" providerName="System.Data.SqlClient"/> -->
		<add name="devagroCn" connectionString="Data Source=WHITE;Initial Catalog=agrotechniki;User ID=exact_clRW;Password=wrAgr$dfs%8899fs#" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Data.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Printing.v15.1.Core, Version=15.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.RichEdit.v15.1.Core, Version=15.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.ASPxThemes.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			</assemblies>
		</compilation>
		<httpHandlers>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false"/>
			<add verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
		</httpHandlers>
		<httpRuntime/>
		<customErrors mode="Off"/>
		<authentication mode="Forms">
			<forms loginUrl="/_login/default.aspx"/>
		</authentication>
		<identity impersonate="true"/>
		<authorization>
			<allow users="*"/>
		</authorization>
		<globalization fileEncoding="utf-8"/>
		<httpModules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</httpModules>
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering allowDoubleEscaping="true">
				<fileExtensions>
					<clear/>
				</fileExtensions>
				<hiddenSegments>
					<clear/>
				</hiddenSegments>
				<requestLimits maxAllowedContentLength="2147483647"/>
			</requestFiltering>
		</security>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</modules>
		<handlers>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" name="ASPxHttpHandlerModule" path="DX.ashx" preCondition="integratedMode"/>
			<add name="ASPxUploadProgressHandler" preCondition="integratedMode" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
		</handlers>
	</system.webServer>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0"/>
	</system.serviceModel>
	<devExpress>
		<themes enableThemesAssembly="False" styleSheetTheme="" theme="" customThemeAssemblies=""/>
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
		<settings doctypeMode="Xhtml" rightToLeft="false" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge"/>
		<errors callbackErrorRedirectUrl=""/>
	</devExpress>
</configuration>
