<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		<sectionGroup name="devExpress">
			<section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v18.2, Version=18.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v18.2, Version=18.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v18.2, Version=18.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v18.2, Version=18.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v18.2, Version=18.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-ΙΚΕ_v17.2.3.0-20180519114928.mdf;Initial Catalog=aspnet-ΙΚΕ_v17.2.3.0-20180519114928;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<!--GALAXY-->
		<!--<add name="GLXRW" connectionString="Data Source=testsrv\sql2012;Initial Catalog=DEV_GLX_AGRO;uid=sa;pwd=Agr0!23;" />-->
		<add name="GLXRW" connectionString="Data Source=VMSRV4;Initial Catalog=GLX_AGRO;uid=sa;pwd=Agr0!23;"/>
		<!--LIVE-->
		<add name="connRO" connectionString="Data Source=white;Initial Catalog=agrotechniki;uid=johndeere_clRO;pwd=Omi8eCdeIFl#peRfeDCr;"/>
		<add name="connRW" connectionString="Data Source=white;Initial Catalog=agrotechniki;uid=johndeere_clRW;pwd=sOc4rOReveM#dEubeZAq;"/>
		<add name="exact_clRW" connectionString="Provider=SQLOLEDB;Password=wrAgr$dfs%8899fs#;Persist Security Info=True;User ID=exact_clRW;Initial Catalog=agrotechniki;Data Source=WHITE"/>
		<add name="exact_clRO" connectionString="Provider=SQLOLEDB;Password=p3%dLK99##98%Sj23W1k;Persist Security Info=True;User ID=exact_clRO;Initial Catalog=agrotechniki;Data Source=WHITE"/>
		<add name="connRO_OLEDB" connectionString="Provider=SQLOLEDB;Password=Omi8eCdeIFl#peRfeDCr;Persist Security Info=True;User ID=johndeere_clRO;Initial Catalog=agrotechniki;Data Source=white"/>
		<add name="connRW_OLEDB" connectionString="Provider=SQLOLEDB;Password=sOc4rOReveM#dEubeZAq;Persist Security Info=True;User ID=johndeere_clRW;Initial Catalog=agrotechniki;Data Source=white"/>
		<add name="connAgroRO" connectionString="Data Source=white;Initial Catalog=agrotechniki;uid=exact_clRO;pwd=p3%dLK99##98%Sj23W1k;"/>
		<add name="connAgroRW" connectionString="Data Source=white;Initial Catalog=agrotechniki;uid=exact_clRW;pwd=wrAgr$dfs%8899fs#;"/>
		<add name="connAgroRWThanos" connectionString="Data Source=LOGISTIRIO-6B;Initial Catalog=DEVAGRO;uid=exact_clRW;pwd=wrAgr$dfs%8899fs#;"/>
		<!--TZANETOS-->
		<!--<add name="connRO" connectionString="Data Source=TZANETOS-PC;Initial Catalog=DEVAGRO;uid=johndeere_clRO;pwd=Omi8eCdeIFl#peRfeDCr;" />
		<add name="connRW" connectionString="Data Source=TZANETOS-PC;Initial Catalog=DEVAGRO;uid=johndeere_clRW;pwd=sOc4rOReveM#dEubeZAq;" />
    <add name="connRW_SMS" connectionString="Data Source=TZANETOS-PC;Initial Catalog=SMSMessages;uid=johndeere_clRW;pwd=sOc4rOReveM#dEubeZAq;" />
		<add name="connRO_OLEDB" connectionString="Provider=SQLOLEDB;Password=Omi8eCdeIFl#peRfeDCr;Persist Security Info=True;User ID=johndeere_clRO;Initial Catalog=DEVAGRO;Data Source=TZANETOS-PC" />
		<add name="connRW_OLEDB" connectionString="Provider=SQLOLEDB;Password=sOc4rOReveM#dEubeZAq;Persist Security Info=True;User ID=johndeere_clRW;Initial Catalog=DEVAGRO;Data Source=TZANETOS-PC" />-->
		<!--THANOS-->
		<!--<add name="connRO" connectionString="Data Source=LOGISTIRIO-6B;Initial Catalog=DEVAGRO;uid=johndeere_clRO;pwd=Omi8eCdeIFl#peRfeDCr;" />
    <add name="connRW" connectionString="Data Source=LOGISTIRIO-6B;Initial Catalog=DEVAGRO;uid=johndeere_clRW;pwd=sOc4rOReveM#dEubeZAq;" />    
    <add name="connAgroRO" connectionString="Data Source=LOGISTIRIO-6B;Initial Catalog=DEVAGRO;uid=exact_clRO;pwd=p3%dLK99##98%Sj23W1k;" />
    <add name="connAgroRW" connectionString="Data Source=LOGISTIRIO-6B;Initial Catalog=DEVAGRO;uid=exact_clRW;pwd=wrAgr$dfs%8899fs#;" />    
    <add name="exact_clRO" connectionString="Provider=SQLOLEDB;Password=p3%dLK99##98%Sj23W1k;Persist Security Info=True;User ID=exact_clRO;Initial Catalog=DEVAGRO;Data Source=LOGISTIRIO-6B" />
    <add name="exact_clRW" connectionString="Provider=SQLOLEDB;Password=wrAgr$dfs%8899fs#;Persist Security Info=True;User ID=exact_clRW;Initial Catalog=DEVAGRO;Data Source=LOGISTIRIO-6B" />-->
	</connectionStrings>
	<appSettings>
		<add key="ContractsInclude" value="'05218', '05547'"/>
		<add key="TINInclude" value="'800994249', '801010496'"/>
		<add key="801014747" value="69235c0f-8183-4324-a118-5e8f3601a343"/>
		<add key="800977880" value="9819b547-00e8-4fc0-a4d9-4ac0749ebaaa"/>
		<add key="800968822" value="f7d911ed-b3b5-4a7a-810f-598bdcc2635f"/>
		<add key="DefaultCulture" value="el-GR"/>
		<add key="AGROGROUPWEBAPIUTILS" value="etAgroGroup:AgrotechWebApiUtils"/>
		<add key="AGROGROUPUTILS" value="etAgroGroup:AgrotechUtils"/>
		<!--GALAXY-->
		<add key="GREECE_ID" value="6a9a5bbe-3198-4ff7-8752-20e6dab2cda0"/>
		<!--<add key="endpointAddress" value="http://tzanetos-pc:40001/ServiceAgrotech.svc" />-->
		<add key="endpointAddress" value="http://gateway2:90/ServiceAgrotech.svc"/>
		<add key="ADVANCED_SEARCH_TOP" value="100"/>
		<add key="GALAXY.Company" value="010"/>
		<add key="GALAXY.DomainName" value="Galaxy"/>
		<add key="GALAXY.SchemaAssemblies" value="Glx.Schema;Crm.Schema"/>
		<add key="GALAXY.UserName" value="batchuser"/>
		<add key="GALAXY.Password" value="bu!2#4"/>
		<!-- DEBUG -->
		<!--<add key="GALAXY.ServerAddress" value="tcp://tzanetos-pc:8090/OpServiceExt" />
    <add key="GALAXY.Server.Address" value="tcp://tzanetos-pc:9090/OpService" />
    <add key="GALAXY.DatabaseAlias" value="DEV_GLX_AGRO" />
    <add key="GALAXY.DatabaseAliasDev" value="DEV_GLX_AGRO" />-->
		<!-- LIVE -->
		<add key="GALAXY.ServerAddress" value="tcp://vmsrv4:8090/OpServiceExt"/>
		<add key="GALAXY.Server.Address" value="tcp://vmsrv4:9090/OpService"/>
		<add key="GALAXY.DatabaseAlias" value="GLX_AGRO"/>
		<add key="GALAXY.DatabaseAliasDev" value="GLX_AGRO"/>
	</appSettings>
	<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.7.2" />
			</system.Web>
	-->
	<system.web>
		<customErrors mode="Off"/>
		<authentication mode="Forms"/>
		<httpModules>
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</httpModules>
		<httpHandlers>
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.2, Version=18.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false"/>
		</httpHandlers>
		<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
				<add assembly="DevExpress.Web.ASPxHtmlEditor.v18.2, Version=18.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.ASPxSpellChecker.v18.2, Version=18.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.SpellChecker.v18.2.Core, Version=18.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.ASPxThemes.v18.2, Version=18.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.7.2"/>
		<pages>
			<namespaces>
				<add namespace="System.Web.Optimization"/>
				<add namespace="Microsoft.AspNet.Identity"/>
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
			</controls>
		</pages>
		<membership>
			<providers>
				<!--
	      ASP.NET Membership is disabled in this template. Please visit the following link https://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
				<clear/>
			</providers>
		</membership>
		<profile>
			<providers>
				<!--
	      ASP.NET Membership Profile is disabled in this template. Please visit the following link https://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
				<clear/>
			</providers>
		</profile>
		<roleManager>
			<!--
	        ASP.NET Membership Role is disabled in this template. Please visit the following link https://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
			<providers>
				<clear/>
			</providers>
		</roleManager>
		<!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
		<sessionState mode="InProc" customProvider="DefaultSessionProvider">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
			</providers>
		</sessionState>
	</system.web>
	<system.webServer>
		<modules>
			<remove name="TelemetryCorrelationHttpModule"/>
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler"/>
			<remove name="ApplicationInsightsWebTracking"/>
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</modules>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.2, Version=18.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb"/>
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>
	<devExpress>
		<themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" baseColor="" font=""/>
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
		<settings accessibilityCompliant="false" bootstrapMode="Bootstrap3" doctypeMode="Html5" rightToLeft="false" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge"/>
		<errors callbackErrorRedirectUrl=""/>
	</devExpress>
</configuration>
